{% extends 'base/base.html' %}
{% load i18n %}

{% block body %}
    <div class="container" style="padding: 5rem">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans 'Product' %}</th>
                <th scope="col">{% trans 'Quantity' %}</th>
                <th scope="col">{% trans 'Unit Price' %}</th>
                <th scope="col">{% trans 'Total Price' %}</th>
                <th scope="col">{% trans 'Remove' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ item.product }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }} IRR</td>
                    <td>{{ item.total_price }} IRR</td>
                    <td><a href="{% url 'Cart:cart_remove' item.product.id %}" class="btn btn-danger">{% trans 'Remove' %}</a></td>
                </tr>
            {% endfor %}
            <tr class="table-dark">
                <td>{% trans 'Total Price' %}</td>
                <td colspan="4"></td>
                <td>{{ cart.get_total_price }} IRR</td>
            </tr>
            <tr class="table-dark">
                <td>{% trans 'Final Price' %}</td>
                <td colspan="4"></td>
                <td>{{ cart.get_final_price }} IRR</td>
            </tr>
            </tbody>
        </table>

        <a href="{% url 'Order:preview' %}" class="btn btn-success">{% trans 'Finilize the shopping cart' %}</a>
    </div>
{% endblock %}