{% extends 'base/base_panel.html' %}
{% load static %}
{% load i18n %}

{% block extra_head_panel %}
    <title>{% block title_panel %}{% trans 'Addresses' %}{% endblock %}</title>
{% endblock %}

{% block body_panel %}
    <div class="container" style="padding-top: 2rem">
        <div class="row">
            <div class="col-12 border">
                <button class="btn btn-dark" data-toggle="modal" data-target="#AddAddressModal">{% trans 'Add New Address' %}</button>
            </div>
        </div><br><br>
        <div class="row">
            {% for address in addresses %}
                <div class="col-lg-6 col-md-12" style="padding-bottom: 20px">
                    <div class="card">
                        <div class="card-header"><h4>{{ address.city }},{{ address.exact_address }}</h4></div>
                        <div class="card-body">
                            <h6><img src="https://img.icons8.com/plumpy/18/000000/address.png"/> {{ address.province }}, {{ address.city }}</h6>
                            <h6><img src="https://img.icons8.com/material-two-tone/18/000000/mail.png"/> {{ address.zip_code }}</h6>
                            <h6><img src="https://img.icons8.com/windows/18/000000/phone.png"/> {{ address.owner.user.phone }}</h6>
                            <h6><img src="https://img.icons8.com/material-two-tone/18/000000/user.png"/> {{ address.owner.user.first_name }} {{ address.owner.user.last_name }}</h6>
                            <h6><img src="https://img.icons8.com/material-two-tone/18/000000/edit--v1.png"/> <a href="{% url 'Customer:update-address' address.pk %}">{% trans 'edit this address' %}</a></h6>
                        </div>
                        <div class="card-footer">
                            <form method="post" action="{% url 'Customer:delete-address' address.pk %}">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger" value="{% trans 'Delete' %}">
                            </form>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="AddAddressModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">{% trans 'Add Address' %}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form method="post" action="">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input type="submit" class="btn btn-dark" value="Add">
                    </form>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}