{% extends 'base/base_panel.html' %}
{% load static %}
{% load i18n %}

{% block extra_head_panel %}{% endblock %}

{% block body_panel %}
    <div class="container" style="padding-top: 2rem">
        <div class="row">
            <div class="col-12">
                <form class="form-group" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-dark" value="{% trans 'Save' %}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}