{% extends 'base/base_panel.html' %}
{% load static %}
{% load i18n %}

{% block extra_head_panel %}{% endblock %}

{% block body_panel %}
    <div class="container" style="padding-top: 2rem">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>{% trans 'Order Number' %}</th>
                            <th>{% trans 'Date' %}</th>
                            <th>{% trans 'Final Price' %}</th>
                            <th>{% trans 'Status' %}</th>
                            <th>{% trans 'Details' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ order.id }}</td>
                                <td>{{ order.create_time_stamp }}</td>
                                <td>{{ order.final_price }}</td>
                                <td>{{ order.status }}</td>
                                <td><a href="#">{% trans 'Details' %}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}