{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <title>{% block title %}{% trans 'SignUp Page' %}{% endblock %}</title>
    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
{#<body class="body" style="min-height: 1000px">#}
<div class="container" style="padding-top: 8rem">
    <form method="post" action="" class="bg-white m-auto form">
        {% csrf_token %}
        <h2 style="text-align: center">{% trans 'SignUp' %}</h2>
        {% for field in form %}
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {% for error in field.error %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <br>
        <input type="submit" class="btn btn-primary" value="{% trans 'SignUp' %}">
    </form>
</div>
{% endblock %}
