{% extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="{{ product.image.url }}" alt="product" height="400" width="400"><br>
            </div>
            <div class="col-lg-8">
                <h3>{{ product.name }}</h3>
                <h3>{{ product.price }}</h3>
                <h3>{{ product.brand }}</h3>
                <h3>{{ product.category }}</h3>
            </div>
        </div>
    </div>


{% endblock %}
</body>
</html>