{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block body %}
    <div class="container">
    <div class="row">
        {% for category in categories %}
            <div class="btn-group"></div>
        {% endfor %}
    </div>
        <div class="row">
            {% for product in products %}
                <div class="col-sm-12 col-md-3 col-lg-2" style="padding: 1rem">
                    <div class="card" style="width: auto; margin-bottom: 20px; border-radius: 10px">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="product" height="200" width="200">
                        <div class="card-body">
                            <h4 class="card-title text-center">{{ product.name }}</h4>
                            <div class="card-text text-center">{{ product.brand }}</div>
                            <div class="card-text text-center">{{ product.category }}</div>
                            <button type="button" class="btn btn-dark"><a href="">Details</a></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}